body {
	background: beige;
}
h1 {
	color: red;
	font-family: 'Rammetto One', cursive;
}

h2 {
	color: indigo;
}

p {
	background: violet;
	font-family: 'Rammetto One', cursive;
	font-family: 'Open Sans Condensed', sans-serif;
}